
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

*{
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

html{
  height: 100vh;
  width: 100%;
}

body{
  font-family: 'Julius Sans One', sans-serif;
  padding: 20px;
}

#contenedor_header{
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 25%;
  padding: 20px;
  width: 100%;
}

.nombres{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#nombre{
  color: #e75f8c;
  font-size: calc(4rem + 3.3vw);
  font-family: 'Rochester', cursive;
}

#fecha{
  color:rgb(95, 85, 63);
  font-size: calc(0.5rem + 2.3vw);
  font-family: 'Julius Sans One', sans-serif;
}


/*------------------------------------------------------------------------------------------------------------------------/*
/*------------------------------------------------MAIN--------------------------------------------------------------------/*
/*------------------------------------------------------------------------------------------------------------------------*/

main{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#contenedor_main {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

/*-------CARDS-------*/

.card_main{
  height: 60%;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 70px 63px -60px #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card img{
  align-items: center;
  display: flex;
  justify-content: center;
}

.card_main div img{
  align-items: center;
  border-radius: 10px;
  height: auto;
  display: flex;
  margin: 10px;
  min-width: 80%;
  width: 70%;
}

.inicio{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 30px;
  height: 50%;
  width: 100%;
}

.clearfix{
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
}

.clearfix p{
  color: rgb(48, 46, 46);
  font-size: calc(0.95rem + 1vw);
  font-family: 'Rochester', cursive;
  padding: 30px;
  text-align: center;
  width: 70%;
}

.clearfix img{
  height: auto;
  max-width: 15%;
  text-align: end;
}


/*-----SECTION MAIN PRINCIPAL---*/

#ppal{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    font-family: 'Julius Sans One', sans-serif;
    padding-top: 30px;
  }


  
/*-----Contador-----*/


.contenedor {
  color: rgb(103, 91, 61);
  text-align: center;
  width: 100%;
  height: 100%;
  margin-top: 3%;
}

.fecha{
  width: 100%;
}

.contenedor h2{
  font-family: 'Julius Sans One', sans-serif;
  font-size: calc(0.9em + 1vw);
  color: #e75f8c;
}

.cartel {
  width: 109px;
  height: 109px;
  padding: 10px 0px 5px 0px;
  text-align: center;
  display: inline-block;
  margin: 5px;
  border: 3px solid #e75f8c;;
  border-radius: 25px;
  background-color: #e75f8c;
  box-shadow: 0 70px 63px -60px #000;
  
}

.cartel div{
  font-size: 1.5em;
  font-family: 'Playfair Display', serif;
  animation: fade 3s;
  line-height: 30px;
  margin-top: 5px;
  color: white;
}

.h3 h3 {
  margin-top: 15px;
  font-size: 0.8em;
  font-weight: normal;
  color: white;
}

.h3 {
  bottom: 0;
  margin: 0 auto ;
}

.contenido {
  width: 80%;
  margin: 0 auto;
  border: 0px solid  rgb(103, 91, 61);
  z-index: 10;
}

li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 4.5rem;
}

.numeros {
  font-family: 'Playfair Display', serif;
  font-size: 3.5em;
  transition: .3s;
  animation-name: fade;
  animation-duration: 3s;
}

.responsivo1 {
  display: inline-block
}

.responsivo2 {
  display: inline-block
}

@media (max-width: 450px) {  
  .contenedor {
      margin-top: 15%;
  }

  .banner {
      margin-bottom: 30px; 
  }

  .cartel {
      height: 99px;
      width: 99px;
  }

  .cartel>div{
      font-size: 45px;
  }
  .cartel>div>h3 {
      font-size: 15px;
      margin-top: 0px;
  }
}

@keyframes fade {
  0%   {
      opacity: 0;
  }
  30%   {
      opacity: 0;
  }  
  100% {
      opacity: 1;
  }
}


/*-----Lugar-----*/

.datos_lugar{
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  border-radius: 5px;
}

.lugar{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30%;
  width: 90%;
}

.lugar h2{
  text-align: center;
  color: rgb(48, 46, 46);
  font-family: 'Julius Sans One', sans-serif;
  font-size: calc(0.9em + 1vw);
}

.lugar h4{
  color: lightcoral;
  font-size: calc(0.5rem + 0.5vw);
  font-family: 'Julius Sans One', sans-serif;
  padding-bottom: 30px;
}

.mapa{
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.mapa iframe{
  height: 400px;
  width: 100%;
}


/*-----Galeria-----*/

#galeria{
  height: 50%;
  width: 100%;
  border-radius: 5px;
  margin-top: 20px;
}

#wrapper {
  width: 100%;
  max-width: 100%;
  position: relative;
}

#carousel {
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

#carousel::-webkit-scrollbar {
  height: 0;
}

#prev,
#next {
  display: flex;
  justify-content: center;
  align-content: center;
  background: rgb(248, 244, 244);
  border: none;
  padding: 8px;
  border-radius: 50%;
  outline: 0;
  cursor: pointer;
  position: absolute;
}

#prev {
  top: 50%;
  left: 0;
  transform: translate(50%, -50%);
  display: none;
}

#next {
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

#content {
  display: grid;
  grid-gap: 16px;
  grid-auto-flow: column;
  margin: auto;
  box-sizing: border-box;
}

.item {
  width: 340px;
  height: 340px;
}

/*---------------------FOOTER--------------------*/

footer{
  align-items: center;
  display: flex;
  height: 30vh;
  flex-direction: column;
  justify-content:center;
  width: 100%;
  border-radius: 5px;
  background-color: rgb(48, 46, 46);
}

.redes{
  padding-top: 20px;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80%;
  padding-top: 20px;
}

.redes span{
  align-items: center;
  display: flex;
  color: white;
  font-family: 'Julius Sans One', sans-serif;
  justify-content: center;
  font-size: calc(0.5em + 1vw);
  width: 100%;
}

.redes a i{
  font-size: calc(0.8rem + 1vw);
  color: white;
  padding-left: 10px;
}

.derechos{
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  background-color: white;
  width: 100%;
}

.derechos p{
  font-size: calc(0.8em + 1vw);
  color: black;
  font-family: 'Rochester', cursive;
  padding-bottom: 30px;
}

.derechos img{
  height: auto;
  width: 150px;
  padding-left: 5px;
  padding-right: 5px;
}

.redes a i:hover {
  transform: scale(1.5);
}

/*-------TRISKEL------------*/

#triskel{
  background-color: rgb(48, 46, 46);
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.triskel1 p{
    font-size: calc(0.5rem + 1vw);
    padding-top: 20px;
    color: #FFF;
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
}

#tris{
  font-family: 'Rochester', cursive;
  color: #FFF;
  font-size: calc(0.8rem + 1.5vw);
  text-align: center;
}

#final{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
  height: 30%;
  width: 100%;
}
#final button{
  background-color: rgb(48, 46, 46);
    color: #FFF;
    height: 50px;
    width: 300px;
    border-radius: 5px;
}







